<div class="main-content page-m">
  <div
    class="section-content section-content-p30 w-100"
    style="margin-left: 10em"
  >
    <div class="container-fluid">
      <!-- receive formGroup Property from Checkout Form Component -->
      <!-- When using reactive form, use the ngSubmit property to send data -->
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!-- customer form group. Name of key in form group -->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">First Name:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">Last Name:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">Email:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text" />
              </div>
            </div>
          </div>
        </div>
        <!-- Shipping Address -->
        <div formGroupName="shippingAddress" class="form-area">
          <div class="row">
            <h3 style="font-weight: 700;">Shipping Address</h3>
            <div class="row">
              <div class="col-md-2">
                <label style="font-weight: 700;">Country:</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="country" (change)="getStates('shippingAddress')">
                    <!-- Use ngValue to pass objects to display -->
                    <option *ngFor="let country of countries" [ngValue]="country">
                      {{ country.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label style="font-weight: 700;">Street:</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="street" type="text" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label style="font-weight: 700;">City:</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="city" type="text" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label style="font-weight: 700;">State:</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="state">
                    <option value="North-West">TO DO</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label style="font-weight: 700;">Zip Code:</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="zipCode" type="text" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Checkbox: Shipping same as Billing address -->
        <div class="row">
          <div class="input-space">
            <label class="au-checkbox">
              <input
                type="checkbox"
                (change)="copyShippingAddressToBillingAddress($event)"
              />
              <span class="au-checkmark"></span>Billing address same as Shipping
              address
            </label>
          </div>
        </div>
        <!-- Billing Address -->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">Country:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('billingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">Street:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">City:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">State:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option value="North-West">TO DO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">Zip Code:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
              </div>
            </div>
          </div>
        </div>
        <!-- Credit Card Information -->
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">Card Type:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>MasterCard</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">Name on Card:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">Card Number:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">Security Code:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">Expiration Month:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let month of creditCardMonths">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label style="font-weight: 700;">Expiration Year:</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                  <option *ngFor="let year of creditCardYears">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- Order Review -->
        <div class="form-area">
          <h3>Order Review</h3>
          <div class="row text-center" style="font-weight: 700;">
            <p>Total Quantity: {{ totalQuantity }}</p>
            <p>Shipping: FREE</p>
            <p>Total Price: {{ totalPrice }}</p>
          </div>
        </div>
        <!-- submit button -->
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-info border-light text-light"
            style="border: 3px solid #ccc !important"
          >
            Purchase
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
